.a-project-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.a-project-content-container {
    display: flex;
    flex-direction: column;
    width: 670px;
}

.a-project-title {
    margin-top: 12px;
}

.a-project-content-subtitle {
    text-align: center;
}

.a-project-who-raising-moeny-for-title {
    margin-top: 40px;
}

.a-project-who-raising-moeny-for-sub-title {
    margin: 8px 0px 16px;
    color: gray;
}

.who-raising-money-input {
    border: 1px solid lightgray;
    width: 100%;
    height: 35px;
    padding: 5px 20px;
}

.who-raising-money-input:focus {
    border: 1px solid black;
}

.a-project-radio-form {
    display: flex;
}

.a-project-radio-option {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.a-project-radio-input {
    margin-right: 5px;

}

input[type="radio"]:checked {
    background-color: black;
}

.a-project-payment-information-title {
    font-size: 14px;
    margin-top: 64px;
    align-self: center;
    color: #949494
}

.a-project-payment-information-info {
    font-size: 14px;
    align-self: center;
    color: #949494;
    margin-bottom: 36px;
}

.a-project-simple-column-center-link {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 54px;
    margin-top: 40px;
    align-self: center;
}