.explore-campaigns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-individual-campaig-div {
    width: 265px;
    height: 480px;
    border: 1px solid lightgray;
    margin: 20px;
    transition: border 0.2s, box-shadow 0.2s, transform 0.2s;
}

.explore-individual-campaig-div:hover {
    border: 1px solid #949494;
    box-shadow: 0 2px 6px -4px rgba(0,0,0,.2), 0 8px 10px -4px rgba(0,0,0,.14), 0 8px 12px 4px rgba(0,0,0,.05);
    transform: translateY(-2px);
    /* fill: rgb(80, 181, 109); */
}

.explore-individual-campaign-text-container {
    padding: 10px;
}

.explore-individual-campaign-funding {
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 12px;
    color: green
}

.explore-individual-campaign-title {
    margin-top: 15px;
}

.explore-individual-campaign-tagline {
    font-size: 11px;
    color: gray;
    margin-top: 10px;
}

.explore-explore-header-div {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("https://g0.iggcdn.com/assets/explore/desktop/campaign-d867fa38edb5ad270cd80df5816b0268df9e3bfa622a136e4fa9969c71156649.jpg");
    background-position: center;
    background-size: cover;
}

.explore-explore-header-title {
    font-size: 48px;
    margin-bottom: 32px;
}

.explore-explore-header-sub-title {
    font-size: 24px;
}

.explore-individual-campaign-image {
    height: 200px;
    /* overflow: hidden; */
    object-fit: cover;
    object-position: 0 0;
    display: flex;
    
}

.explore-individual-campaign-days-left {
    display: flex;
    padding: 10px;
    font-size: 13px;
}

.icon-clock {
    fill: rgb(106, 106, 106);
}

.explore-clock {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.explore-funding-section {
    padding: 10px;
    padding-bottom: 0px;
}

.explore-funding-row {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #6a6a6a;
    align-items: flex-end;
    margin: 4px 0px;
}

.explore-progress-bar {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    height: 8px;
    border-radius: 8px;
}

.explore-progress-bar-filler {
    background-color: rgb(100, 199, 154);
    height: 100%;
    border-radius: 8px;
}

.explore-individual-funding-amount {
    color: black;
    font-size: 18px;
    margin-right: 6px;
}

.explore-individual-funding-container {
    display: flex;
    align-items: flex-end;
}