.session-grey-background {
    background-color: rgba(125, 125, 125, 0.4);

    position: fixed;
    left: 0%;
    top: 0%;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.session-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 352px;
    height: 450px;
    padding: 40px 64px;
}

.sign-up-session-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 352px;
    height: 550px;
    padding: 40px 64px;
}

.session-title {
    font-size: 32px;
}

.session-login-signup-subtitle {
    color: gray;
    margin-top: 8px;
}

.session-label {
    margin-top: 32px;
    width: 100%;
}

.session-email-label {
    margin-top: 32px;
    width: 100%;
}

.session-password-label {
    margin-top: 32px;
    width: 100%;
}

.session-input {
    border: 1px solid lightgray;
    width: 320px;
    height: 35px;
    padding: 0.25rem 1rem;
}

#session-submit-button {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

#session-demo-login-button {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(69, 92, 152);
}

#session-demo-login-button:hover {
    background-color: rgb(63, 84, 143);
}

.close-icon-button {
    align-self: flex-end;
}

.session-additional-option-text {
    margin-top: 12px;
    color: darkgray;
}